:host {
  --nav-link-horizontal-padding: 0.75rem;

  .mat-toolbar {
    gap: 1rem;
  }

  .nav {
    margin-left: auto;
  }

  .nav-list {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .nav-link {
    --mat-button-text-horizontal-padding: var(--nav-link-horizontal-padding);
    --mat-button-filled-horizontal-padding: var(--nav-link-horizontal-padding);
  }
}
