:host {
  --mat-toolbar-title-text-size: var(--mat-sys-body-medium);

  .footer {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--mat-sys-surface);
    padding: 1rem;
  }

  .info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: var(--spacing-sm);
    row-gap: var(--spacing-xs);
  }

  .text {
    margin: 0;
  }
}
