.mdc-snackbar.error-snackbar {
  --mat-snack-bar-container-color: var(--mat-sys-error-container);
  --mat-snack-bar-supporting-text-color: var(--mat-sys-on-error-container);
  --mat-snack-bar-button-color: var(--mat-sys-on-error-container);
}
